## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a=3
print(a)

3

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
una__variable_con_mi_nombre='Rodrigo López Núñez'

5) Crear una variable que contenga un número complejo

In [5]:
b=3+8j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
print(type(b))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
pi=3.1415

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
str_true='True'
bool_true=True

str_true==bool_true

# No se trata de lo mismo ya que la primera primer variable es de tipo "str"; mientras que la segunda es de tipo "bool"

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [9]:
print(type(str_true))
print(type(bool_true))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [11]:
c=3+4.6
print(c)

7.6

11) Realizar una operación de suma de números complejos

In [13]:
(8+5j)+(8-8j)

(16-3j)

12) Realizar una operación de suma de un número real y otro complejo

In [14]:
34+(5+54j)

(39+54j)

13) Realizar una operación de multiplicación

In [15]:
3*4

12

14) Mostrar el resultado de elevar 2 a la octava potencia

In [16]:
print(f'El resultado de elevar 2 a la octava potencia es {2**8}')

El resultado de elevar 2 a la octava potencia es 256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [17]:
print(f'El cociente de 27 entre 4 es {27/4}')

El cociente de 27 entre 4 es 6.75

16) De la división anterior solamente mostrar la parte entera

In [18]:
print(f'La parte entera del cociente entre 27 entre 4 es {27//4}')

La parte entera del cociente entre 27 entre 4 es 6

17) De la división de 27 entre 4 mostrar solamente el resto

In [19]:
print(f'El resto del cociente de 27 entre 4 es {27%4}')

El resto del cociente de 27 entre 4 es 3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [20]:
parte_entera=27//4
resto=27%4

(4*parte_entera)+resto

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [22]:
first_str='Hola'
second_str='¿Cómo estás?'

first_str+second_str

'Hola¿Cómo estás?'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [24]:
'2'==2

# El algoritmo devuelve el valor falso ya que la primera variable es del tipo "str"; mientras que la segunda es del tipo "int"

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [26]:
print(int('2')==2)

print('2'==str(2))

True
True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
a=float(8,5)


# El programa devuelve error ya que el decimal en Python se representa con un punto  y no con una coma; en cambio,  Python reconoce dos números separados dpor una coma.

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [28]:
tres=3

tres-=1
print(tres)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [29]:
1<<2

# El programa nos devuelve "4" ya que se trata de una operación con números binarios llamada "Desplazamiento a la izquierda". Los números binarios (del sistema binario) son 
# la representación de los números enteros con tan sólo dos cifras (0 y 1). Consiste en dividir entre dos el número que queremos representar

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [30]:
2+'2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [31]:
print(str(2)+'2')
print(2+int('2'))

22
4